{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "singleQuote": true,
    "proseWrap": "preserve",
    "trailingComma": "es5",
    "requirePragma": false,
    "bracketSpacing": true,
    "printWidth": 100,
    "jsxSingleQuote": true,
    "cursorOffset": -1,
    "editorconfig": false,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "filepath": "",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "overrides": [],
    "singleAttributePerLine": false
}
